*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*:focus {
  outline: none;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: rgba(231, 76, 60,0.8);
}
.responsive-img {
  width: 100%;
  height: 100%;
  margin: auto;
}
.phone-wrapper {
   display: grid;
   grid-template-columns: 90%;
   grid-template-rows: 60px 1fr 60px;
   justify-content: center;
   width: 100%;
   max-width: 300px;
   margin: auto;
   height: 500px;
   border-radius: 20px;
   background-color: rgba(236, 240, 241,1.0);
}
.speaker-wrapper,
.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.speaker {
  width: 60px;
  height: 4px;
  border-radius: 20px;
  background-color: #bdc3c7;
}
.screen {
  position: relative;
  background-color: rgba(47, 54, 64,0.8);
  overflow: hidden;
}
.login {
  position: absolute;
  display: flex;
  align-items: center;
  margin: auto;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(47, 54, 64,1);
  transition: transform 0.3s ease-in-out;
  z-index: 5;
}

.numbers {
  width: 80%;
  margin: auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,1fr);
  grid-gap: 1em;
}
.number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.number[value="0"] {
  grid-area: 4 / 2 / span 1 / span 1;
}
.audio-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  padding: 15px;
  background:  linear-gradient(to bottom, #ec6f66, #282828);
}
.audio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr  ;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
}
.audio-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
}
.title h4 {
 color: white;
 font-weight: 600;
 font-size: 18px;
 letter-spacing: .2em;
}
.title span {
  color: #bdc3c7;
  letter-spacing: .2em;
  font-size: 12px;
}
.controlUI {
  margin: 10px;
  cursor: pointer;
  color: white;
}
.play {
 font-size: 20px;
}
.navigation {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #bdc3c7;
  cursor: pointer;
}
